*{
	margin: 0;
	padding: 0;
	box-sizing: 0;
}
header{
	height: 80px;
	background-color: #333333;
}
.head{
	width: 960px;
	height: 80px;
	margin:0 auto;
	
}
.logo{
	width: 70%;
	float: left;
	height: 80px;
}
.logo p{
	line-height: 80px;
	color: #ffffff;
	font-size: 20px;
}
.links{
	text-align: right;
	margin-left: 70%;
	
}
.links a{
	color:  #ffffff;
}

.banners{
	position: relative;
	height: 300px;
	background-color: #66BB33;
}
.banners div{
	
	position: absolute;
	left:75%;
	bottom: 20px;

}

.banners a{
	display: inline-block;
	  text-decoration: none;
	  
	  color: black;
	  padding: 5px 12px;
	  background-color: #B2DD99;
	  border:1px solid #426A2A;
	  
}
.banners a:nth-of-type(2){
	background-color: #E0F1D6;
	padding: 18px 12px 5px;
}

.content{
	width: 960px;
	
	
	margin:0 auto;
	
  	flex: row;
}

.firstrow,.secondrow,.thirdrow{
	flex:1 ;
	display: flex;
  	flex-direction: row;
	
}

.firstrow div,.secondrow div,.thirdrow div{
	border:1px solid #cccccc;
	flex: 1;
}

.content div div {
	text-align: center;
	margin:5px;
	padding: 80px;


}
.nap{
	border-bottom: 1px solid #cccccc;
	
}
.navigation{
	height: 80px;
	width: 960px;
	
	margin:0 auto -1px;

}



.navigation li{
	float: left;
	height: 30px;
	width: 100px;
	line-height: 30px;
	list-style: none;
	display: inline-none;
	border:1px solid #cccccc;
	text-align: center;
	border-radius: 25px 25px  0px 0px;
	padding: 14px;
	margin-top: 20px;

	background-color: #EEEEEE;
	
}
.navigation .firstchild {
	background-color: #ffffff;
	border-bottom: 1px solid transparent;;
	
	
	
}
.navigation li a{
	text-decoration: none;
	color: black;
	font-family: "黑体";
}

footer{
	background-color: #666666;
	text-align: center;
	height: 100px;
	
	

}



footer p{
	padding-top: 10px;
	color: #ffffff;
}